<div class="container" id="index-page"> 
    <div class="upperfold">
        <div top-menu
            loc-data="locData" 
            template-url="top-menu.html"
        ></div><!-- End of Header -->
        <div class="text-holder">
            <p> ROCK THE CODE </p>
            <p> The DevPortal allows you to create and manage apps which consume Voyager APIs. Sign up now to test drive your apps.</p>
            <div ng-if="!locData.isLoggedIn">
                <form class="submit-email" novalidate>
                    <input type="text" class="email" ng-class="result.email.style" placeholder="Your email address" ng-model="locData.email">
                    <button type="submit" class="orange" ng-click="signUpUser()"> Create free Account </button>
                    <p ng-class="result.style"><span ng-repeat="msg in result.message track by $index">{{msg}}</span></p>
                </form>
            </div>
            <div class="success_login" ng-if="locData.isLoggedIn">
                <p>You are logged in as <span>{{locData.username}}</span> <span>{{locData.username}}</span></p>
                <button class="button-1" ng-click="signOutUser()">Log Out</button>
            </div>
        </div>
    </div> <!-- End od upperfold -->

    <div class="clear"> </div>

    <div class="home-section">
        <div class="side-1">
            <p> BUSINESS </p>
            <p class="line"> </p>

            <div class="side-block">
                <div class="icon-1"> </div>
                <p> The DevPortal allows you to create and manage apps which consume Voyager APIs. </p>
                <a href=""> Read more </a>
            </div>
            <div class="side-block">
                <div class="icon-2"> </div>
                <p> The DevPortal allows you to create and manage apps which consume Voyager APIs. </p>
                <a href=""> Read more </a>
            </div>
        </div>

        <div class="mid-line"> </div>

        <div class="side-1">
            <p> DEVELOPERS </p>
            <p class="line"> </p>

            <div class="side-block">
                <div class="icon-3"> </div>
                <p> The DevPortal allows you to create and manage apps which consume Voyager APIs. </p>
                <a href=""> Read more </a>
            </div>
            <div class="side-block">
                <div class="icon-4"> </div>
                <p> The DevPortal allows you to create and manage apps which consume Voyager APIs. </p>
                <a href=""> Read more </a>
            </div>

        </div>

    </div>

    <div footer 
        template-url="footer.html">
    </div>


</div>
